.card-container {
    display: flex;
    filter: drop-shadow(0px 6px 64px rgba(112, 144, 176, 0.1));
    border-radius: 24px;
    height: 32rem;
    max-width: 62rem;
    background-color: #ffffff;
}

.card-container div {
    width: 31rem;
}

.card-container .image-container img {
    max-width: 31rem;
    height: 32rem;
    object-fit: cover;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.card-container .details {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}